
.table_container table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%; /* 전체 너비를 사용하도록 설정 */
  border-spacing: 0; /* 셀 간의 간격을 없애기 */
}

.table_container th, .table_container td {
  padding: 10px; /* 셀 패딩 추가 */
  text-align: left; /* 텍스트 정렬 */
}

.main-container {
  background-color: white;
}


#content .form-container{
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;   /* 세로 중앙 정렬 */
}
.categoryForm-container,
.paymentForm-container {
  display: flex;         /* 각 컨테이너도 Flexbox 활성화 (옵션) */
  align-items: center;   /* 레이블과 셀렉트 박스 세로 중앙 정렬 */
}