#content .title-container {
    width: 100%;
    margin-top: 20px;
}

/* 삭제 예정 */
.text__right {
    text-align: right;
}

/*삭제예정*/
#content .title-container .title {
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.main-container.payment-method__list {
    margin: 20px;
    height: 600px;
}

.main-container.payment-method__change{
    margin: 145px 20px;
    height: 600px;
}

.btn__paymentMethod {
    padding: 13px 19px;
}

#content .one-line-end {
    display: flex;
    justify-content: flex-end;
}

#content .one-line-start {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}

.label-size {
    display: flex;
    width: 300px;
    height: 25px;
}

.one-line .btn-container {
    margin-right: 20px;
}

/*#content .ma*/

.list--title {
    font-size: 17px;
    padding: 17px 13px;
}

.list-container .list--div {
    display: inline-block;
    width: 200px;
    margin: 5px 5px 5px 20px;
}

.container-title{
    margin-left: 20px;
}

.list-content {
    margin: 5px 5px 5px 20px;
}

.box__i {
    width: 100px;
    height: 20px;
}

.box__o {
    width: 100px;
}

.content_margin {
    margin-left: 50px;
}

.btn_margin {
    margin-right: 20px;
}

.btn--margin {
    margin: 150px 20px 50px 200px;
    width: 150px;
    height: 40px;
}