
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.wing.accountbook">

    <resultMap id="accountBookResultMap" type="AccountBookVo">
        <id property="accountBookNo" column="ACCOUNT_BOOK_NO" />
        <result property="plusCategoryNo" column="PLUS_CATEGORY_NO" />
        <result property="minusCategoryNo" column="MINUS_CATEGORY_NO" />
        <result property="memberNo" column="MEMBER_NO" />
        <result property="paymentMethodNo" column="PAYMENT_METHOD_NO" />
        <result property="creDate" column="CREDATE" />
        <result property="content" column="CONTENT" />
        <result property="paymentAmount" column="PAYMENT_AMOUNT" />
        <result property="minusCategoryName" column="MINUS_CATEGORY_NAME" />
        <result property="memberEmail" column="MEMBER_EMAIL" />
        <result property="paymentMethodName" column="PAYMENT_METHOD_NAME" />
    </resultMap>
    <!-- 밑에3개는 추후수정-->




    <!--    &lt;!&ndash; SELECT ACCOUNT_BOOK &ndash;&gt;
        <select id="selectAccountBook"  resultMap="accountBookResultMap">
            SELECT
                ACCOUNT_BOOK_NO,
                MINUS_CATEGORY_NO,
                MEMBER_NO,
                PAYMENT_METHOD_NO,
                CREDATE,
                PAYMENT_AMOUNT
            FROM ACCOUNT_BOOK
        </select>-->
    <select id="selectAccountBook" resultMap="accountBookResultMap">
        SELECT
            ab.ACCOUNT_BOOK_NO,
            mc.CATEGORY_NAME AS MINUS_CATEGORY_NAME,  -- MINUS_CATEGORY의 CATEGORY_NAME
            m.EMAIL AS MEMBER_EMAIL,                   -- MEMBER 테이블의 EMAIL
            pm.PAYMENT_METHOD_NAME,                     -- PAYMENT_METHOD의 PAYMENT_METHOD_NAME
            ab.CREDATE,
            ab.PAYMENT_AMOUNT
        FROM ACCOUNT_BOOK ab
                 LEFT JOIN MINUS_CATEGORY mc ON ab.MINUS_CATEGORY_NO = mc.CATEGORY_NO
                 LEFT JOIN MEMBER m ON ab.MEMBER_NO = m.MEMBER_NO
                 LEFT JOIN PAYMENT_METHOD pm ON ab.PAYMENT_METHOD_NO = pm.PAYMENT_METHOD_NO
        WHERE ab.PLUS_CATEGORY_NO = 1  -- PLUS_CATEGORY_NO가 1인 경우
    </select>





</mapper>
