<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.edu.wing.member.domain"/>
        <package name="com.edu.wing.accountbook.domain"/>
        <package name="com.edu.wing.sellingCard.domain"/>
        <package name="com.edu.wing.card.domain"/>
        <package name="com.edu.wing.category.domain"/>
        <package name="com.edu.wing.paymentMethod.domain"/>
        <package name="com.edu.wing.cardBenefit.domain"/>
        <package name="com.edu.wing.inquiry.domain"/>
        <package name="com.edu.wing.inquiryComment.domain"/>
        <package name="com.edu.wing.post.domain"/>
        <package name="com.edu.wing.freeBoard.domain"/>
        <package name="com.edu.wing.freeBoardComment.domain"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/member/MemberMapper.xml" />
        <mapper resource="mappers/accountBook/AccountBookMapper.xml" />
        <mapper resource="mappers/accountBook/payBackMapper.xml" />
        <mapper resource="mappers/card/SellingCardMapper.xml"/>
        <mapper resource="mappers/card/CardMapper.xml" />
        <mapper resource="mappers/category/MinusCategoryMapper.xml" />
        <mapper resource="mappers/category/PlusCategoryMapper.xml" />
        <mapper resource="mappers/paymentMethod/PaymentMethodMapper.xml" />
        <mapper resource="mappers/card/CardBenefitMapper.xml"/>
        <mapper resource="mappers/inquiry/InquiryMapper.xml"/>
        <mapper resource="mappers/inquiry/InquiryCommentMapper.xml"/>
        <mapper resource="mappers/post/PostMapper.xml"/>
        <mapper resource="mappers/freeBoard/FreeBoardMapper.xml"/>
        <mapper resource="mappers/freeBoard/FreeBoardCommentMapper.xml"/>
    </mappers>

</configuration>
