<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.wing.inquiry">

    <resultMap type="inquiryVo" id="inquiryResultMap">
        <id column="INQUIRY_NO" property="inquiryNo" />
        <result column="NOTICE_BOARD_NO" property="noticeBoardNo" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="DIVISION" property="division" />
        <result column="CRE_DATE" property="creDate" />
        <result column="ANSWER_TERMINATION" property="answerTermination" />
        <result column="EMAIL" property="email" />
        <result column="INQUIRY_COMMENT_NO" property="inquiryCommentNo" />
    </resultMap>

    <sql id="search">
        <if test="inquirySearch != null and inquirySearch != ''">
            TITLE LIKE '%' || #{inquirySearch} || '%'
        </if>
    </sql>

    <select id="inquirySelectList" parameterType="map" resultMap="inquiryResultMap">
    SELECT INQUIRY_NO, NOTICE_BOARD_NO, MEMBER_NO, TITLE, CONTENT, DIVISION, CRE_DATE, ANSWER_TERMINATION
    FROM (
        SELECT ROWNUM AS RNUM, I.*
        FROM (
            SELECT INQUIRY_NO, NOTICE_BOARD_NO, MEMBER_NO, TITLE, CONTENT, DIVISION, CRE_DATE, ANSWER_TERMINATION
            FROM INQUIRY
        <where>
            <include refid="search" />
        </where>
        <![CDATA[
            ORDER BY
                CASE WHEN ANSWER_TERMINATION = 'N' THEN 0 ELSE 1 END,
                CRE_DATE
        ) I
        WHERE ROWNUM <= #{end}
    )
    WHERE RNUM >= #{start}
    ]]>
    </select>

    <select id="memberInquirySelectList" parameterType="map" resultMap="inquiryResultMap">
        SELECT INQUIRY_NO, NOTICE_BOARD_NO, MEMBER_NO, TITLE, CONTENT, DIVISION, CRE_DATE, ANSWER_TERMINATION
        FROM (
            SELECT ROWNUM AS RNUM, I.*
            FROM (
                SELECT INQUIRY_NO, NOTICE_BOARD_NO, MEMBER_NO, TITLE, CONTENT, DIVISION, CRE_DATE, ANSWER_TERMINATION
                FROM INQUIRY
                WHERE MEMBER_NO = #{memberNo}
        <![CDATA[
            ORDER BY INQUIRY_NO DESC
        ) I
        WHERE ROWNUM <= #{end}
    )
    WHERE RNUM >= #{start}
    ]]>
    </select>

    <select id="inquirySelectTotalCount" parameterType="int" resultType="int">
        SELECT COUNT(INQUIRY_NO)
        FROM INQUIRY
    </select>

    <select id="inquirySelectOne" parameterType="int" resultType="map">
        SELECT I.INQUIRY_NO AS inquiryNo, I.TITLE, I.DIVISION, M.EMAIL AS inquiryWriterEmail, I.CRE_DATE AS inquiryDate,
               I.CONTENT AS inquiryContent, MEM.EMAIL AS answerWriterEmail,
               IC.INQUIRY_COMMENT_NO AS inquiryCommentNo,
               IC.CONTENT AS answerContent, IC.CRE_DATE AS answerDate,
               CASE WHEN IC.CONTENT IS NOT NULL THEN 'Y' ELSE 'N' END AS answerTermination
        FROM INQUIRY I
                JOIN MEMBER M ON I.MEMBER_NO = M.MEMBER_NO
                LEFT JOIN INQUIRY_COMMENT IC ON I.INQUIRY_NO = IC.INQUIRY_NO
                LEFT JOIN MEMBER MEM ON IC.MEMBER_NO = MEM.MEMBER_NO
        WHERE I.INQUIRY_NO = #{inquiryNo}
    </select>
    
    <update id="updateInquiryComment" parameterType="map">
        UPDATE INQUIRY_COMMENT
        SET CONTENT = #{content},
            MOD_DATE = SYSDATE
        WHERE INQUIRY_COMMENT_NO = #{commentNo}
    </update>

    <select id="searchInquiries" resultType="map">
        SELECT * FROM INQUIRY
        WHERE TITLE LIKE CONCAT('%', #{term}, '%')
        ORDER BY CRE_DATE DESC
    </select>

    <insert id="insertInquiryComment" parameterType="map">
        INSERT INTO INQUIRY_COMMENT (INQUIRY_COMMENT_NO, INQUIRY_NO, CONTENT, MEMBER_NO)
        VALUES (INQUIRY_COMMENT_NO_SEQ.NEXTVAL, #{inquiryNo}, #{content}, #{memberNo})
    </insert>

    <update id="updateAnswerTermination" parameterType="int">
        UPDATE INQUIRY
        SET ANSWER_TERMINATION = 'Y'
        WHERE INQUIRY_NO = #{inquiryNo}
    </update>

    <insert id="addInquiry" parameterType="inquiryVo">
        INSERT INTO INQUIRY (INQUIRY_NO, NOTICE_BOARD_NO, MEMBER_NO, TITLE, DIVISION, CRE_DATE, CONTENT)
        VALUES (INQUIRY_NO_SEQ.NEXTVAL,1, #{memberNo}, #{title}, #{division}, #{creDate}, #{content})
    </insert>

    <select id="memberInquirySelectOne" parameterType="int" resultType="map">
        SELECT I.INQUIRY_NO AS inquiryNo, I.TITLE, I.DIVISION, M.EMAIL AS inquiryWriterEmail, I.CRE_DATE AS inquiryDate,
               I.CONTENT AS inquiryContent, MEM.EMAIL AS answerWriterEmail,
               IC.INQUIRY_COMMENT_NO AS inquiryCommentNo,
               IC.CONTENT AS answerContent, IC.CRE_DATE AS answerDate,
               CASE WHEN IC.CONTENT IS NOT NULL THEN 'Y' ELSE 'N' END AS answerTermination
        FROM INQUIRY I
                 JOIN MEMBER M ON I.MEMBER_NO = M.MEMBER_NO
                 LEFT JOIN INQUIRY_COMMENT IC ON I.INQUIRY_NO = IC.INQUIRY_NO
                 LEFT JOIN MEMBER MEM ON IC.MEMBER_NO = MEM.MEMBER_NO
        WHERE I.INQUIRY_NO = #{inquiryNo}
    </select>

</mapper>