<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.wing.category.dao.CategoryDao">

    <resultMap type="plusCategoryVo" id="plusCategoryResultMap">
        <id column="CATEGORY_NO" property="categoryNo" />
        <result column="CATEGORY_NAME" property="categoryName" />
    </resultMap>

    <select id="plusCategorySelectList" resultMap="plusCategoryResultMap">
        SELECT CATEGORY_NO, CATEGORY_NAME
        FROM PLUS_CATEGORY
        ORDER BY CATEGORY_NO
    </select>

    <insert id="plusCategoryInsertOne" parameterType="plusCategoryVo">
        INSERT INTO PLUS_CATEGORY
            (CATEGORY_NO, CATEGORY_NAME)
        VALUES(PLUS_CATEGORY_NO_SEQ.NEXTVAL, #{categoryName})
    </insert>

    <select id="plusCategorySelectOne" parameterType="int"
            resultMap="plusCategoryResultMap">
        SELECT CATEGORY_NO, CATEGORY_NAME
        FROM PLUS_CATEGORY
        WHERE CATEGORY_NO = #{no}
    </select>

    <update id="plusCategoryUpdateOne" parameterType="plusCategoryVo">
        UPDATE PLUS_CATEGORY
        <set>
            <if test="categoryName != null and categoryName != ''">
                CATEGORY_NAME = #{categoryName}
            </if>
        </set>
        WHERE CATEGORY_NO = #{categoryNo}
    </update>

    <delete id="plusCategoryDeleteOne" parameterType="int">
        DELETE 	FROM PLUS_CATEGORY
        WHERE 	CATEGORY_NO = #{categoryNo}
    </delete>

</mapper>