<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.wing.card">

    <resultMap type="cardVo" id="cardResultMap">
        <id column="CARD_NO" property="cardNo" />
        <result column="CARD_NAME" property="cardName"/>
        <result column="CARD_COMPANY" property="cardCompany"/>
        <result column="CATEGORY_NO" property="categoryNo"/>
        <result column="STORED_FILE_NAME" property="storedFileName"/>
        <result column="ORIGINAL_FILE_NAME" property="originalFileName"/>
        <result column="SUMMATION_BENEFIT" property="summationBenefit"/>
        <result column="MAIN_BENEFIT" property="mainBenefit" />
        <result column="REGISTER_DATE" property="registerDate" javaType="java.util.Date" />
        <result column="CATEGORY_NAME" property="categoryName"/>
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <sql id="search">
        AND C.IS_DELETED = 'false'
        <if test="categoryName != null and categoryName != 'all'">
            AND CASE MC.CATEGORY_NAME
            WHEN '교통' THEN 'Traffic'
            WHEN '쇼핑' THEN 'Shopping'
            WHEN '일반' THEN 'Daily'
            ELSE MC.CATEGORY_NAME
            END = #{categoryName}
        </if>
    </sql>

    <select id="cardSelectList" parameterType="map" resultMap="cardResultMap">
        SELECT CARD_NO, CARD_NAME, STORED_FILE_NAME, ORIGINAL_FILE_NAME
            , REGISTER_DATE, CATEGORY_NAME
            FROM (
                SELECT ROWNUM AS RNUM
                , C.CARD_NO
                , C.CARD_NAME
                , C.STORED_FILE_NAME
                , C.ORIGINAL_FILE_NAME
                , C.REGISTER_DATE
                , CASE MC.CATEGORY_NAME
                WHEN '교통' THEN 'Traffic'
                WHEN '쇼핑' THEN 'Shopping'
                WHEN '일반' THEN 'Daily'
                ELSE MC.CATEGORY_NAME
                END AS CATEGORY_NAME
                FROM CARD C
                JOIN MINUS_CATEGORY MC ON C.CATEGORY_NO = MC.CATEGORY_NO
                <where>
                    <include refid="search" />
                </where>
                ORDER BY C.REGISTER_DATE DESC
            )
        WHERE RNUM BETWEEN #{start} AND #{end}
    </select>

    <select id="cardSelectTotalCount" parameterType="String" resultType="int">
        SELECT COUNT(CARD_NO)
        FROM CARD C JOIN MINUS_CATEGORY MC ON C.CATEGORY_NO = MC.CATEGORY_NO
        <where>
            <include refid="search" />
        </where>
    </select>

    <select id="cardSelectOne" parameterType="int" resultMap="cardResultMap">
        SELECT C.CARD_NO
             , C.CARD_NAME
             , C.CARD_COMPANY
             , C.STORED_FILE_NAME
             , C.ORIGINAL_FILE_NAME
             , C.REGISTER_DATE
             , CASE MC.CATEGORY_NAME
                   WHEN '교통' THEN 'Traffic'
                   WHEN '쇼핑' THEN 'Shopping'
                   WHEN '일반' THEN 'Daily'
                   ELSE MC.CATEGORY_NAME
            END AS CATEGORY_NAME
        FROM CARD C
                 JOIN MINUS_CATEGORY MC ON C.CATEGORY_NO = MC.CATEGORY_NO
        WHERE C.CARD_NO = #{cardNo}
    </select>

    <select id="cardExist" parameterType="String" resultMap="cardResultMap">
        SELECT CARD_NO, CARD_NAME, CARD_COMPANY
        FROM CARD
        WHERE CARD_NAME = #{cardName}
          AND IS_DELETED = 'false'
    </select>

    <insert id="cardInsertOne" parameterType="map">
        INSERT INTO CARD (CARD_NO, CARD_NAME, CARD_COMPANY, CATEGORY_NO, STORED_FILE_NAME, ORIGINAL_FILE_NAME, REGISTER_DATE, IS_DELETED)
        VALUES (CARD_NO_SEQ.NEXTVAL, #{cardName}, #{cardCompany}, #{categoryNo}, #{storedFileName}, #{originalFileName}, #{registerDate}, 'false')
    </insert>

    <update id="markCardAsDeleted" parameterType="int">
        UPDATE CARD
        SET IS_DELETED = 'true'
        WHERE CARD_NO = #{cardNo}
    </update>

    <select id="checkCardDeletedStatus" parameterType="int" resultMap="cardResultMap">
        SELECT CARD_NO, CARD_NAME, CARD_COMPANY, IS_DELETED
        FROM CARD
        WHERE CARD_NO = #{cardNo} AND IS_DELETED = 'true'
    </select>
</mapper>