<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.wing.post">

    <resultMap type="postVo" id="postResultMap">
        <id column="POST_NO" property="postNo" />
        <result column="NOTICE_BOARD_NO" property="noticeBoardNo" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="TITLE" property="title" />
        <result column="CONTENT" property="content" />
        <result column="CRE_DATE" property="creDate" />
        <result column="MOD_DATE" property="modDate" />
        <result column="EMAIL" property="email" />
    </resultMap>

    <select id="postSelectTotalCount" parameterType="int" resultType="int">
        SELECT COUNT(POST_NO)
        FROM POST
        WHERE NOTICE_BOARD_NO = #{noticeBoardNo}
    </select>

    <sql id="search">
        <if test="postSearch != null and postSearch != ''">
            TITLE LIKE '%' || #{postSearch} || '%'
        </if>
    </sql>

    <select id="postSelectList" parameterType="map" resultMap="postResultMap">
    SELECT POST_NO, NOTICE_BOARD_NO, MEMBER_NO, TITLE, CONTENT, CRE_DATE, EMAIL
    FROM (
        SELECT ROWNUM AS RNUM, I.*
        FROM (
            SELECT P.POST_NO, P.NOTICE_BOARD_NO, P.MEMBER_NO, P.TITLE, P.CONTENT, P.CRE_DATE, M.EMAIL
            FROM POST P
            JOIN MEMBER M ON P.MEMBER_NO = M.MEMBER_NO
            <where>
                <include refid="search" />
                AND P.NOTICE_BOARD_NO = #{noticeBoardNo}
            </where>
            <![CDATA[
            ORDER BY
                P.CRE_DATE
        ) I
        WHERE ROWNUM <= #{end}
    )
    WHERE RNUM >= #{start}
    ]]>
    </select>

</mapper>