#content .title-container {
    width: 100%;
    margin-top: 20px;
}

/* 삭제 예정 */
.text__right {
    text-align: right;
}

.btn-container {
    margin-right: 20px;
}

.btn__category {
    padding: 13px 19px;
}

/*삭제예정*/
#content .title-container .title {
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.main-container {
    margin: 20px;
}

.main-container.bg__white.one-line {
    height: 700px;
    overflow: auto;
    justify-content: space-evenly;
    align-items: baseline;
}

.main-container.bg__white.one-line .category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-container.bg__white.one-line .category-container .sub-title-container {
    height: 30px;
    margin: 20px;
}

.main-container.bg__white.one-line .category-container .sub-title-container .sub-title {
    font-size: 22px;
}

.one-line .btn-container {
    margin-right: 20px;
}

.list--title {
    font-size: 17px;
    padding: 17px 13px;
}

.list-container .list--div {
    display: inline-block;
    width: 200px;
}

.list-content {
    margin: 5px 5px 5px 20px;
}

.box__s {
    width: 200px;
}

.box__l {
    width: 200px;
}