.table_container{
  height: 100%;

}
.table_container table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%; /* 전체 너비를 사용하도록 설정 */
  border-spacing: 0; /* 셀 간의 간격을 없애기 */
  height:700px;
}

.table_container th, .table_container td {
  padding: 10px; /* 셀 패딩 추가 */
  text-align: left; /* 텍스트 정렬 */
}
.top-container {
  margin: 20px 0; /* 위 아래 간격 확보 */
}


.main-container {
  background-color: white;
  margin-left: 20px;
  margin-top: 20px; /* 위쪽 여백 추가 */
  height: 700px;
}

#content .title-container {
  width: 100%;
  margin-top: 20px;
}

#content .title-container .title {
  width: 250px;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}
#content .form-container {
  margin-left: 12px;
  width: 100%;
  padding: 10px;
}

.aTagStyle{
  cursor: pointer;
  color:blue;
}
.aTagStyle:hover{
  color:lightgreen;
  background: gray;
}

